* {
    box-sizing: border-box;
    font-family: 'Montserrat' ;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    color: white;
    background-image: url("/assets/img/background.jpg");
    margin: 0;
}
.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: 0;
    width: 85vh;
    height: 70vh;

}
.head h1{
    padding: 15px;
    margin: 0;
}

.head {
    margin-top: 10vmax;
    padding: 0;
    width: 65vw;
    height: auto;
    text-align: center;
    backdrop-filter: blur(4px) saturate(124%);
    -webkit-backdrop-filter: blur(11px) saturate(80%);
    background-color: rgba(157, 103, 170, 0.116);
    border-radius: 12px;
    border: 1px solid rgba(41, 41, 41, 0.144);

}
.head::after {
    content: "";
    display: table;
    clear: both;
}
input {
    margin: 5px 0px 15px 0px;
    width: 50%;
    font-size: 14px;


    
        display: inline-block;
        -webkit-box-sizing: content-box;
        -moz-box-sizing: content-box;
        box-sizing: content-box;
        padding: 10px 20px;
        border: 1px solid #b7b7b7;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        font: normal 16px/normal "Trebuchet MS", Helvetica, sans-serif;
        color: rgba(255,255,255,1);
        -o-text-overflow: clip;
        text-overflow: clip;
        background: -webkit-linear-gradient(-90deg, rgba(210,244,146,0.12) 0, rgba(188,100,187,0.42) 100%);
        background: -moz-linear-gradient(180deg, rgba(210,244,146,0.12) 0, rgba(188,100,187,0.42) 100%);
        background: linear-gradient(180deg, rgba(210,244,146,0.12) 0, rgba(188,100,187,0.42) 100%);
        background-position: 50% 50%;
        -webkit-background-origin: padding-box;
        background-origin: padding-box;
        -webkit-background-clip: border-box;
        background-clip: border-box;
        -webkit-background-size: auto auto;
        background-size: auto auto;
        -webkit-box-shadow: 3px 1px 5px 1px rgba(0,0,0,0.2) inset, 0 0 6px 0 rgba(0,0,0,0.5) ;
        box-shadow: 3px 1px 5px 1px rgba(0,0,0,0.2) inset, 0 0 6px 0 rgba(0,0,0,0.5) ;
        text-shadow: 1px 1px 0 rgba(0,0,0,0.66) ;
        -webkit-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -moz-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        -o-transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
        transition: all 200ms cubic-bezier(0.42, 0, 0.58, 1);
      
}

.addBtn{
    cursor: pointer;
    padding: 11px;
    width: 25%;
    background: black;
    text-align: center;
    font-size: 14px;
    transition: 0.9s;
    border-radius: 5px;
}
.addBtn:hover {
    background-color: rgb(230, 230, 230);
    color: black;
    transition: 0.5s;

}

ul {

    margin: 1rem 0px 0px 0px;
    padding: 0;
}

ul li {
    height: 40px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border-radius: 10px;
    width: 65vw;
    cursor: pointer;
    position: relative;
    padding: 12px 50px 12px 40px;
    list-style-type: none;
    background:rgb(99, 99, 99);
    transition: 0.5s;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

ul li:nth-child(odd) {
    background:rgb(75, 75, 75);
}

ul li:hover{
    font-size: 17px;
    text-shadow: -6px 3px 8px #000000;
    background: rgba(201, 87, 180, 0.582);
}
ul li.checked{
    background: rgba(204, 0, 255, 0.479);
    text-decoration: line-through;
    
}
ul li.checked::before {
    content: '';
    position: absolute;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: white;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

.close {
    transition: 0.9s;

    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px;
}
.close:hover {
    background-color: rgb(255, 0, 0);
    color: black;
    transition: 0.5s;
}

.noTasks {
    background-color: rgba(127, 255, 212, 0.342);
    height: 40vh;
    width: 65vw;
    display: none;
}

.noTasks h1{
    margin-top: 3rem;
    text-align: center;
    font-size: 18px;
}